<?xml version="1.0" encoding="utf-8"?>
<launch>

  <arg name="robot" default="panda" />
  <arg name="initX" default="0" />
  <arg name="initY" default="0" />

  <arg name="load_gripper" default="true" />

  <arg name="joint_trajectory_controllers" default="false"/>
  <arg name="reconcycle_sim_controllers" default="true"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_panda_description)/robots/panda_arm_hand.urdf.xacro
    load_gripper:=$(arg load_gripper)
    load_gazebo:=true
    use_gazebo_control:=true" />  <!-- load_gazebo adds extra parameters from urdf for simulation, use_gazebo_control loads standard ros_control hardware interface -->

  <!-- Spawn urdf of the robot -->
  <node name="load_model" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot) -x $(arg initX) -y $(arg initY)" />

  <!-- launch controllers -->

  <group if="$(arg reconcycle_sim_controllers)">
    <!-- start reconcycle joint controller  -->
    <include file="$(find panda_action_servers)/launch/sim_joint_impedance.launch" />
  </group>

  <group if="$(arg joint_trajectory_controllers)">
    <!-- start joint trajectory controller -->
    <include file="$(find panda_action_servers)/launch/sim_joint_trajectory.launch" />
  </group>

  <!-- state publisher-->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="tf_prefix" value="$(arg robot)" />
  </node>

</launch>
